* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg {
    background: url('./FRPG1rqaMAA91ht.jfif') no-repeat center center/cover;
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px);
}

.text {
    font-size: 2rem;
    color: #fff;
}