* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
}

.board-container {
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.square {
    width: 16px;
    height: 16px;
    margin: 2px;
    background-color: rgba(29, 29, 29);
    box-shadow: 0 0 2px #000;
    transition: 2s ease;
}

.square:hover {
    transition-duration: 0s;
}