* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border: 1px solid skyblue;
  width: 800px;
}

.toolbox {
  width: 800px;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: skyblue;
  padding: 0 10px;
}

.toolbox > * {
  display: inline-flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin: 0 3px;
  background-color: #fff;
  border: 0;
}

.toolbox > *:last-child {
  margin-left: auto;
}