@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow: hidden;
  background-color: #000;
  font-family: 'Roboto', sans-serif;
}

button.btn {
  border: 0;
  padding: 20px 30px;
  background-color: purple;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  overflow: hidden;
}

button:focus {
  outline: none;
}

button .circle {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%) scale(0);
  animation: ripple .5s ease-in-out;
}

@keyframes ripple{
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}